ConsoleApplication/.vs/ConsoleApplication/FileContentIndex/1f29adf6-7cd5-4115-8aff-1ed14c22a472.vsidx
ConsoleApplication/.vs/ConsoleApplication/FileContentIndex/4203f1f0-b1ae-4d00-94b5-aac2b3f2aa6e.vsidx
